body {
  --black: #000000de;
  --background: #fff;

  color: var(--black);
  background: var(--background);
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 24px;
}

.roboto-regular {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  color: var(--black);
  text-decoration: none;

  /* text-decoration: underline transparent; */
  border-bottom: 1px solid transparent;
  transition: border 300ms ease;

  &:hover {
    border-bottom: 1px solid rgb(0 0 255 / 92.7%);
  }
}

.header {
  font-size: 24px;
  line-height: 30px;
}

.sub-header {
  font-size: 16px;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chip {
  --chip-color: #2196f3;

  font-size: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--background);
  border: 1px solid var(--background);
  cursor: pointer;
  background: var(--chip-color);
  transition:
    color 0.2s,
    background 0.2s;

  &:hover {
    border: 1px solid var(--chip-color);
    background: var(--background);
    color: var(--black);
  }
}

.chip-header {
  font-size: 20px;
  line-height: 28px;
  padding: 8px, 0;
}

.chip-block {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  column-gap: 8px;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;

  /* margin: 8px; */
  border-radius: 0.3rem;
  padding: 16px;
  gap: 10px;
  border: 0.5px solid var(--black);
  max-width: 600px;
}

.project-card--inactive {
  opacity: 0.5;
}

.project-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-card__header--logo {
  margin-right: 16px;

  img {
    max-width: 50px;
    max-height: 50px;
  }
}

.project-card__header--name {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
}

.project-card__description {
  padding: 8px 0;
}
